[submodule "statim-server"]
	path = statim-server
	url = git@github.com:felipetorres/statim-server.git
[submodule "statim-mobile"]
	path = statim-mobile
	url = git@github.com:felipetorres/statim-mobile.git
[submodule "statim-site"]
	path = statim-site
	url = git@github.com:felipetorres/statim-site.git
