html {
	height: 100%;
}

body {
	height: 100%;
	margin: 0;
	padding: 0;
}

form {
	display: inline;
}

button {
	vertical-align: top;
	margin: 15px 0 0 15px;
	width: 150px;
}

#panel {
	height: 10%;
	min-height: 50px;
}

#panel img {
	margin-top: 5px;
}

#map-canvas {
	height: 90%;
	width: 100%;
}

#option {
	display: inline-block;
	margin: 17px 0 0 15px;
	vertical-align: top;
}